# Specify filepatterns you want git to ignore.

.ipynb_checkpoints
Compilado de referencias/
Resumen/Cosas muy recientes
Proyectos/Tesis_pregrado_Arturo/Informacion/
Proyectos/VIGAS_NO_LOCAL/fuentes/
*.docx
*.doc